openapi: 3.0.4

info:
  title: gcp-serverless-vector-search API
  description: |
    マルチモーダル対応のサーバーレス・ベクトル検索 API (MVP)。
    最初のフェーズではテキスト登録 / 検索のみを提供する。

    設計判断の経緯は `docs/adr/` を参照:
      - 0001 API MVP 設計（エンドポイント / ID / メタデータ / スコア / エラー）
      - 0002 OpenAPI 3.0.4 採用
      - 0003 X-API-Key ヘッダ認証
  version: 0.1.0
  contact:
    name: riri-vector-lab-2026

servers:
  - url: https://vector-search.riri-inferno.com
    description: 本番エンドポイント (Cloudflare 経由 / API Gateway へプロキシ)

# 本ファイルは Terraform の templatefile() で読まれる「テンプレート」を兼ねている。
# `${healthz_url}` / `${vector_api_url}` は terraform apply 時に Cloud Function の
# 実 URL に置換される (terraform/gcp/api_gateway.tf 参照)。
#
# GCP API Gateway の OpenAPI 3.x 仕様では x-google-backend を operation に object で
# 直書きできず、必ず x-google-api-management.backends で named backend を定義した上で
# operation 側は名前文字列で参照する形式を要求する (Cannot convert to service config エラー対策)。

x-google-api-management:
  backends:
    # healthz は API Gateway の single wildcard path template で受ける。
    # 公式仕様上、single wildcard は末尾 slash の有無を許容するため、
    # `/healthz` と `/healthz/` の両方を Gateway で同じ operation に流せる。
    # APPEND_PATH_TO_ADDRESS で backend に実 path を渡し、Cloud Function 側で
    # `/healthz` 以外を 404 にする。
    healthz_backend:
      address: ${healthz_url}
      path_translation: APPEND_PATH_TO_ADDRESS
      jwt_audience: ${healthz_url}
    # vector_api は path で operation を分岐するため APPEND が必須。
    vector_api_backend:
      address: ${vector_api_url}
      path_translation: APPEND_PATH_TO_ADDRESS
      jwt_audience: ${vector_api_url}

security:
  - google_api_key: []

components:

  securitySchemes:
    google_api_key:
      type: apiKey
      name: x-api-key
      in: header

  schemas:

    DocumentCreateRequest:
      type: object
      required: [text]
      properties:
        text:
          type: string
          minLength: 1
          maxLength: 8000
          description: |
            埋め込み対象テキスト。
            gemini-embedding-2 の入力上限は 8192 トークンだが、文字数で 8000 を上限としておく
            (実トークン数より少し余裕を持たせる安全側設定)。
        metadata:
          $ref: '#/components/schemas/Metadata'

    Document:
      type: object
      required: [id, text, created_at]
      properties:
        id:
          type: string
          format: uuid
          description: サーバー生成の UUID v4
        text:
          type: string
        metadata:
          $ref: '#/components/schemas/Metadata'
        created_at:
          type: string
          format: date-time
          description: Firestore の createTime をそのまま返す

    Metadata:
      type: object
      additionalProperties: true
      maxProperties: 50
      description: |
        ドキュメントに付随する自由形式の情報。スキーマは固定しない。
        シリアライズ後 4KB を目安とする。
        例: { "source": "https://...", "category": "tech", "tags": ["python"] }

    SearchRequest:
      type: object
      required: [query]
      properties:
        query:
          type: string
          minLength: 1
          maxLength: 8000
        top_k:
          type: integer
          minimum: 1
          maximum: 50
          default: 10
          description: 返却する近傍件数

    SearchResult:
      type: object
      required: [id, text, score]
      properties:
        id:
          type: string
          format: uuid
        text:
          type: string
        metadata:
          $ref: '#/components/schemas/Metadata'
        score:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: cosine similarity (1.0 = 同一)

    SearchResponse:
      type: object
      required: [results]
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/SearchResult'

    HealthzResponse:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [ok]

    Problem:
      type: object
      required: [type, title, status]
      description: |
        RFC 7807 風のエラーレスポンス。`type` は URI ではなく短いスラグ文字列。
      properties:
        type:
          type: string
          description: エラー種別のスラグ。例 "validation_error" / "unauthorized" / "payload_too_large" / "internal_error"
        title:
          type: string
          description: 人間可読の簡潔メッセージ
        status:
          type: integer
          description: HTTP ステータスコード
        detail:
          type: string
          description: 詳細メッセージ（任意）

  responses:

    ValidationError:
      description: リクエストバリデーション失敗
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'

    Unauthorized:
      description: API Key 不在 / 不一致
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'

    PayloadTooLarge:
      description: リクエスト本体がサイズ上限超過
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'

    InternalError:
      description: サーバー内部エラー
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'

paths:

  /{healthz_path}:
    get:
      summary: 死活監視
      operationId: healthz
      parameters:
        - name: healthz_path
          in: path
          required: true
          schema:
            type: string
            enum: [healthz]
      # GCP API Gateway は API Key 認証を持たない operation を service config に
      # 含めない仕様のため、global security (X-API-Key) を継承する (ADR 0008)。
      x-google-backend: healthz_backend
      responses:
        '200':
          description: 稼働中
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthzResponse'

  /v1/documents:
    post:
      summary: テキストを埋め込みベクトル化してドキュメントとして保存
      operationId: createDocument
      x-google-backend: vector_api_backend
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentCreateRequest'
      responses:
        '201':
          description: 作成成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/search:
    post:
      summary: 自然言語クエリで近傍検索
      operationId: searchDocuments
      x-google-backend: vector_api_backend
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '200':
          description: 検索結果（該当なしの場合は空配列）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
